Binaries/
Build/
Intermediate/
Saved/
ThirdParty/
.vs/

*.sdf
*.sln
*.suo
*.opensdf
*.VC.db
*.opendb

Plugins/RealSense/Binaries/
Plugins/RealSense/Intermediate/
Plugins/RuntimeMeshComponent/Binaries/
Plugins/RuntimeMeshComponent/intermediate
